spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/kikeriki
    username: kikeriki
    password: kikeriki
  jpa:
    hibernate:
      ddl-auto: validate
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: kikeriki
  liquibase:
    change-log: classpath:liquibase-changeLog.xml
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
    java:
      enabled: true
logging:
  level:
    root: INFO
    net.dancier: DEBUG
app:
  mail:
    host: mail.your-server.de
    port: 465
    user: user
    pass: pass