spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: kikeriki

management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
    java:
      enabled: true
logging:
  level:
    root: INFO
    net.dancier: DEBUG
app:
  mail:
    host: mail.your-server.de
    port: 465
    user: user
    pass: pass